<ul class="app__menu">
    <li class="app__menu-item"><a class="app__menu-link" href="/"><i class="fas fa-home"></i></a></li>
    <li class="app__menu-item"><a class="app__menu-link" href="/target"><i class="fas fa-hand-holding-usd"></i></a></li>
</ul>