<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {{> _adjas_style}}
    {{> _edit_style}}
</head>
<body>
    <div class="wrapApp">
        {{> menu}}
        <div class="app__screen">
            <form class="app__form" name="editAccount" action="/editAccount" method="POST"> 
                <h1 class="app__form-title">Редактирование счёта</h1>
                <input class="app__form-input" name="editAccountId" value="{{edit.accountid}}" type="hidden"/>
                <input class="app__form-input" name="editAccountName" value="{{edit.name}}"/>
                <input class="app__form-input" name="editAccountDescr" value="{{edit.description}}"/>
                <input class="app__form-input" type="submit" value="Сохранить"/>
            </form>
        </div>
    </div>
</body>
</html>


